*.o
*.lo
.deps
*.la
*.pc
.libs
/bin
compile_nothreads_test
compile_test
config.*
Makefile
diff_tpl_auto_escape
generate_fsm_c_test
htmlparser*_test
template_*test
/src/ctemplate/*.h
/src/htmlparser/*.h
/src/stamp-h1
/src/tests/statemachine_test_fsm.h
/statemachine.c
/statemachine_test
/include
/lib
/libtool
make_tpl_varnames_h
/share/
*.pyc
/autom4te.cache
